footer{
    @include colors ($c-primary,$c-tertiary,0,0);

    img{
        height: 15vh;
    }

    .redes{
        border-bottom: solid 1px $c-primary;
    }

    .copyright{
        background-color: rgba(0, 0, 0, 0.05);
    }
}

