.logo{
    height: 25vh;
    background-color: $c-tertiary;

    img{
        height: 100%;
        width: auto;
    }
}
.navbar{
    padding: 0;
    background-color: $c-tertiary;
    .container-fluid{
        background-color: rgba(0, 0, 0, 0.05);
    }
}